<div style="margin-top: 20px; width: 300px; text-align: right;" class="input-group" ng-repeat="(key,value) in options">
    <span class="input-group-addon">
        <input type="radio" name="{{value}}" value="{{key}}" ng-model="$parent.aux" ng-change="change(value)">
      </span>
    <input type="text" class="form-control" value="{{value}}" readonly="readonly" style="background-color: #18bc9c !important; cursor: default !important;">
</div>
<br/>
<div ui-on-drop="taDropped($event, $data, item)" class="dropzone-container">
    <button ui-draggable="true" class="btn btn-sm bsoia-tag-chosen btn-info" ng-repeat="taRelation in item.taRelations">
        <small><span class="glyphicon glyphicon-remove remove-bsoia-in-toia-asset" ng-click="removeTaFromTreatment(taRelation, item)">&nbsp;</span></small>
        {{taAsset.cloudType}} - {{taAsset.cloudResource._serviceType}}
    </button>
</div>
