<div>
    <div class="ngdialog-message">
        <h3>Some unacceptable risks have been detected but no treatments have been selected. Do you really wish to continue?</h3>
    </div>
    <div style="margin-top: 25px" class="ngdialog-buttons">
        <button type="button" class="btn btn-warning" style="float: right; margin-right: 5px" ng-click="continue()">Continue</button>
        <button type="button" class="btn btn-success" style="float: right; margin-right: 5px" ng-click="stay()">Back</button>
    </div>
</div>