html, body {
  height: 100%; }

.scroll-top {
  position: fixed;
  bottom: 15px;
  left: 15px;
  display: none; }

.inline * {
  display: inline-block; }

.popover {
  min-width: 400px;
  color: #333;
}

.margin-10 {
  margin-left: 10px;
  margin-right: 10px; }

.logo {
  background: url("../img/image4094_1.png") no-repeat white;
  display: block;
  width: 111px;
  height: 65px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px; }

.logo-text h3 {
  margin-top: 32px;
  font-size: 36px;
  display: inline-flex; }
  .logo-text h3 p:first-child {
    color: #18bc9c; }

blockquote {
  cursor: hand; }
  blockquote:hover {
    cursor: pointer;
    background-color: #f3f3f3;
    color: #222;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  blockquote p.active {
    color: #18bc9c; }

.nav-pills.nav-wizard {
  font-size: 12px; }
  .nav-pills.nav-wizard > li {
    float: left;
    background-color: #eee;
    position: relative;
    overflow: visible;
    border-left: 35px solid #fff;
    border-right: 10px solid #fff; }
    .nav-pills.nav-wizard > li > a {
      border-radius: 0px !important;
      padding-left: 1px; }
      .nav-pills.nav-wizard > li > a .checkpoint-icon {
        font-size: 1.3em;
        position: relative;
        top: 5px; }
      .nav-pills.nav-wizard > li > a i.green {
        color: #27ae60; }
      .nav-pills.nav-wizard > li > a i.red {
        color: #c9c9c9; }
      .nav-pills.nav-wizard > li > a i.orange {
        color: orange; }
    .nav-pills.nav-wizard > li:first-child {
      border-left: 0; }
      .nav-pills.nav-wizard > li:first-child > a {
        padding-left: 15px; }
    .nav-pills.nav-wizard > li:last-child {
      border-right: 0;
      float: right; }
      .nav-pills.nav-wizard > li:last-child > a {
        padding-left: 15px; }
    .nav-pills.nav-wizard > li .nav-arrow {
      position: absolute;
      top: 0;
      right: -40px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 28px 15px 28px 25px;
      border-color: transparent transparent transparent #eee;
      z-index: 150; }
    .nav-pills.nav-wizard > li small {
      color: #999; }
      .nav-pills.nav-wizard > li small .spacer {
        display: inline-block;
        width: 18px; }
    .nav-pills.nav-wizard > li .nav-wedge {
      position: absolute;
      top: 0;
      left: -40px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 28px 15px 28px 25px;
      border-color: #eee #eee #eee transparent;
      z-index: 150; }
  .nav-pills.nav-wizard > li.active .nav-arrow {
    border-color: transparent transparent transparent #2c3e50; }
  .nav-pills.nav-wizard > li.active .nav-wedge {
    border-color: #2c3e50 #2c3e50 #2c3e50 transparent; }
  .nav-pills.nav-wizard > li.active small {
    color: #ccc; }

.sticky-bottom {
  position: relative;
  bottom: 10px;
  right: -15px; }

.item-select {
  width: 80% !important; }

.def-tip {
  cursor: help;
  float: left;
  display: block; }

.remove-asset, .remove-risk, .remove-treatment {
  float: right !important;
  margin-right: -25px !important;
  vertical-align: middle !important;
  display: none;
  top: 5px;
  position: relative; }

/* Select2 overwrites */
.select2-choice, .select2-search, .select2-result-selectable, .select2-input {
  height: 43px !important; }

#s2id_autogen2_search {
  height: 43px !important; }

.select2-chosen-2, .select2-result-selectable, .select2-choice {
  line-height: 2.5 !important; }

/* BSOIA tags */
.bsoia-tag {
  display: block;
  margin-top: 10px;
  margin-left: -12px; }

.bsoia-tag-chosen {
  display: inline;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px; }

.bsoia-tag-used {
  background-color: #DAA520 !important;
  border-color: #DAA520 !important; }

.remove-bsoia-in-toia-asset {
  float: right !important;
  margin-right: -20px !important;
  vertical-align: middle !important;
  display: none;
  position: relative;
  top: -5px; }

/* Drop zones */
.dropzone {
  min-height: 150px;
  height: auto !important;
  max-height: 800px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 10px; }

.dropzone-container {
  border: 2px;
  border-style: dashed;
  min-height: 50px;
  height: auto !important;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto; }

.remove-dragdrop {
  float: right !important;
  margin-right: -20px !important;
  vertical-align: middle !important;
  display: none;
  position: relative;
  top: -5px; }

/* Flash */
.alert-warn {
  background-color: #fcf8e3;
  border: 1px solid #fbeed5; }

.alert-warn,
.alert-warn h4 {
  color: #c09853; }

.alert-danger, .alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7; }

.alert-flash h4 {
  margin: 0; }

.alert-danger h4, .alert-error h4 {
  color: #b94a48; }

.alert-danger h4, .alert-error h4 {
  color: #b94a48; }

/* Risks switch */
.bootstrap-switch {
  float: right !important; }

.bootstrap-switch-success {
  background-color: #18bc9c !important; }

/* Risk container */
.risk-container {
  min-height: 100px;
  height: auto !important;
  max-height: 800px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 10px; }

.requirement-value {
  float: right;
  margin-right: -85px; }

.risk-very-low {
  background-color: darkgreen !important; }

.risk-low {
  background-color: lightgreen !important; }

.risk-normal {
  background-color: orange !important; }

.risk-high {
  background-color: #B94A48 !important; }

.risk-very-high {
  background-color: maroon !important; }

/* Carousel hack for Firefox */
/*.navbar-wrapper {border: 1px solid purple;}*/
.carousel {
  border: 1px solid transparent; }

/*.carousel-caption {border: 1px solid yellow;}*/
.carousel .item {
  border: 1px solid transparent; }

/*.carousel-inner > .item > img {border: 1px solid red;}*/
.service-proposal {
  width: 100%;
  height: 150px;
  max-height: 450px !important; }
  .service-proposal p:first-of-type {
    margin-top: 15px; }

.service-proposal-panel {
  margin-bottom: 5px;
  border: 2px solid #ecf0f1; }
  .service-proposal-panel:hover {
    border-color: #2c3e50; }

.service-proposal-title {
  background: #fff !important;
  padding: 0 40px; }
  .service-proposal-title h3 {
    font-size: 20px; }

.service-proposal-logo {
  width: 150px;
  height: 150px;
  float: left; }

.service-proposal-logo > img {
  dislay: block;
  width: 100%;
  margin-top: 30px;
  margin-left: 20px; }

.service-proposal-description {
  float: left;
  margin: 30px;
  margin-top: -10px; }

.service-proposal-info {
  float: right;
  text-align: center; }

.service-proposal-score {
  margin-top: 15px;
  padding: 14px; }
  .service-proposal-score h3, .service-proposal-score h6 {
    margin: 2px;
    text-align: center; }
  .service-proposal-score hr {
    margin-top: 0;
    margin-bottom: 0;
    border-color: #fff; }

.service-proposal-score-overall {
  margin-left: auto;
  margin-right: auto; }
  .service-proposal-score-overall h6 {
    font-size: 13px;
    font-size: 0.7vw; }
  .service-proposal-score-overall h3 {
    font-size: 1.3vw; }

.service-proposal-score-positive {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 25px 25px;
  border-color: transparent transparent #0a8212 transparent;
  margin: 0 auto; }

.service-proposal-score-negative {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 25px 0 25px;
  border-color: #e01010 transparent transparent transparent;
  margin: 0 auto; }

.service-selected {
  border: 2px solid #27ae60; }

.service-data-sources > ul {
  list-style-type: none;
  padding: 0;
  text-align: center; }

.service-source-logo {
  max-width: 150px;
  max-height: 75px; }

.has-risks {
  border-color: #e01010; }

.center-text {
  text-align: center; }

.unacceptable-risk {
  background-color: indianred; }

span.selected.label {
  font-size: 2em;
  line-height: 2em; }

.acceptable-risk {
  background-color: palegreen; }

.specify-treatment-value {
  margin-right: 20px; }

.btn-margin {
  margin-right: 7px;
  margin-top: 7px;
  position: relative;
  top: -3px; }

/* NgDialog */
.ngdialog-content {
  font-size: 18px; }

/* DSS graph */
.node circle {
  stroke-width: 3px; }

circle.node-bsoia-expand {
  fill: #ffa5a7 !important;
  stroke: #ff4146 !important; }

circle.node-bsoia-collapse {
  fill: white !important;
  stroke: #ff4146 !important; }

circle.node-toia-expand {
  fill: #b4d6ff !important;
  stroke: #4c41ff !important; }

circle.node-toia-collapse {
  fill: white !important;
  stroke: #4c41ff !important; }

circle.node-risk-expand {
  fill: #95ae84 !important;
  stroke: #3b8034 !important; }

circle.node-risk-collapse {
  fill: white !important;
  stroke: #3b8034 !important; }

circle.node-treatment-expand {
  fill: #fff6a8 !important;
  stroke: #ffea3f !important; }

circle.node-treatment-collapse {
  fill: white !important;
  stroke: #ffea3f !important; }

.node text {
  font: 15px sans-serif; }

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px; }

#spinner {
  width: 100%;
  height: 100%;
  background-color: grey;
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  z-index: 10000; }

/* Risks mitigation */
.mitigation-all {
  stroke: green;
  fill: none;
  stroke-width: 3px; }

.mitigation-some {
  stroke: orange;
  fill: none;
  stroke-width: 3px; }

.mitigation-none {
  stroke: red;
  fill: none;
  stroke-width: 3px; }

.mitigation-undefined {
  stroke: grey;
  fill: none;
  stroke-width: 3px; }

/* Continents map */
#map .continent {
  stroke: #111; }

#map .continent:hover {
  fill: #999; }

.dss-continent {
  fill: #333; }

.continent-selected {
  fill: #18bc9c; }

.continent-unselected {
  fill: #333; }

dss-map svg {
  display: block;
  margin: 0 auto;
  border: 1px solid #d9d9d9;
  background: #ffffff;
  border-radius: 3px;
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB; }

/* Radar Chart */
dss-radar svg {
  margin-top: 20px;
  display: block;
  margin: 0 auto; }

/* Angucomplete */
.angucomplete-dropdown {
  margin-top: 43px !important; }

.rating {
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}
ul.rating {
  display: inline-block;
}
.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.rating .filled {
  color: #f39c12;
}
