<!DOCTYPE html>
<html lang="en" ng-app="dssApp">
<head>
    <meta charset="UTF-8">
    <title>MODAClouds - Venues4Clouds</title>
    <link rel="stylesheet" href="assets/css/bootstrap.css"/>
    <link rel="stylesheet" href="assets/css/dss.css"/>
    <link rel="stylesheet" href="components/nouislider/jquery.nouislider.css"/>
    <link rel="stylesheet" href="components/css-toggle-switch/dist/toggle-switch.css"/>
    <link rel="stylesheet" href="components/select2/select2-bootstrap.css"/>
    <link rel="stylesheet" href="components/select2/select2.css"/>
    <link rel="stylesheet" href="components/angular-loading-bar/src/loading-bar.css"/>
    <link rel="stylesheet" href="components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css"/>
    <link rel="stylesheet" href="components/ngDialog/css/ngDialog.css"/>
    <link rel="stylesheet" href="components/ngDialog/css/ngDialog-theme-default.css"/>
    <link rel="stylesheet" href="components/radar-chart-d3/src/radar-chart.min.css"/>
    <link rel="stylesheet" href="components/angucomplete/angucomplete.css"/>
    <!--<link rel="stylesheet" href="components/intro.js"/>-->
</head>
<body ng-cloak>
<div class="container-fluid margin-10">
<div class="row">
    <div class="col-lg-4 logo"></div>
    <div class="col-lg-8 logo-text inline">
        <h3><p>Venues</p><p>4Clouds</p></h3>
    </div>
</div>
<!--navbar-->
<div class="row">
    <div class="navbar navbar-inverse" ng-controller="mainController">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" ng-click="saveCloudSelection($event)"><span class="glyphicon glyphicon-export"></span> Export Results</a>
            </li>
            <li>
                <a href="#" ng-click="showDSSGraph()"><span class="glyphicon glyphicon-eye-open"></span> View current selection </a>
            </li>
            <li>
                <form class="navbar-form">
                    <angucomplete id="service-search"
                                  placeholder="Search Cloud Service"
                                  pause="400"
                                  selectedObject="selectedService"
                                  localdata="services"
                                  minlength="1"
                                  searchfields="serviceName"
                                  titlefield="serviceName"
                                  inputclass="form-control col-lg-4"/>
                </form>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Options <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#" ng-click="saveSessionFile($event)"><span class="glyphicon glyphicon-export"></span>&nbsp;Export Session</a></li>
                    <li>
                        <form id="import-session-file-selector">
                            <input id="load-session" ng-file-select="onSessionFileSelect($files)" type="file" class="hidden"/>
                        </form>
                        <a href="#" ng-click="showFileUploadDialog('#load-session')"><span class="glyphicon glyphicon-import"></span>&nbsp;Import Session</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#" ng-click="clearSelection()"><span class="glyphicon glyphicon-trash"></span>&nbsp;Clean Selection</a></li>
                </ul>
            </li>
            <li>
                &nbsp;&nbsp;
                &nbsp;&nbsp;
            </li>
        </ul>
    </div>
</div>
<!--end navbar-->
<!-- main container-->
<div class="row mainContainer" ng-controller="mainController">
<ul class="nav nav-pills nav-wizard">
    <li class="active bsoia-slide">
        <a href="#">
            <i class="glyphicon checkpoint-icon" ng-class="{'glyphicon-ok-circle green': haveBSOIASelected(), 'glyphicon-remove-circle red': !haveBSOIASelected() && !isSkipBsoia(), 'glyphicon-minus-sign orange': isSkipBsoia() && !haveBSOIASelected() }"></i>  Business Oriented intangible assets <br/>
            <small><span class="spacer"></span>Business Decision Maker</small>

        </a>
        <div class="nav-arrow"></div>
    </li>
    <li class="toia-slide">
        <div class="nav-wedge"></div>
        <a href="#">
            <i class="glyphicon checkpoint-icon" ng-class="{'glyphicon-ok-circle green': haveTOIASelected(), 'glyphicon-remove-circle red': !haveTOIASelected() && !isSkipToia(), 'glyphicon-minus-sign orange': isSkipToia() && !haveTOIASelected() }"></i> Technical Oriented intangible assets <br/>
            <small><span class="spacer"></span>Architect</small>
        </a>
        <div class="nav-arrow"></div>
    </li>
    <li class="ta-slide">
        <div class="nav-wedge"></div>
        <a href="#">
            <i class="glyphicon checkpoint-icon" ng-class="{'glyphicon-ok-circle green': isTALoaded(), 'glyphicon-remove-circle red': !isTALoaded() }"></i> Tangible assets <br/>
            <small><span class="spacer"></span>Architect</small>
        </a>
        <div class="nav-arrow"></div>
    </li>
    <li class="risks-slide">
        <div class="nav-wedge"></div>
        <a href="#">
            <i class="glyphicon checkpoint-icon" ng-class="{'glyphicon-ok-circle green': haveRisksSelected(), 'glyphicon-remove-circle red': !haveRisksSelected() }"></i> Risks <br/>
            <small><span class="spacer"></span>Risk Policy Manager</small>
        </a>
        <div class="nav-arrow"></div>
    </li>
    <li class="treatments-slide">
        <div class="nav-wedge"></div>
        <a href="#">
            <i class="glyphicon checkpoint-icon" ng-class="{'glyphicon-ok-circle green': haveTreatmentsSelected(), 'glyphicon-remove-circle red': !haveTreatmentsSelected() }"></i> Treatments <br/>
            <small><span class="spacer"></span>Architect</small>
        </a>
        <div class="nav-arrow"></div>
    </li>
    <li class="services-slide">
        <div class="nav-wedge"></div>
        <a href="#">
            <i class="glyphicon checkpoint-icon glyphicon-cloud"></i> Cloud Services <br/>
            <small><span class="spacer"></span></small>
        </a>
    </li>
    <li class="nav-buttons" ng-controller="buttonsController">
        <button class="btn btn-primary btn-sm slide-prev" href="#dssSlides" data-slide="prev" ng-click="previous($event)" style="display: none;">
            <i class="glyphicon glyphicon-backward"></i>
            Previous step
        </button>
        <button class="btn btn-primary btn-sm slide-skip" href="#dssSlides" data-slide="next" ng-click="skip($event)" ng-class="{'disabled': skippedBsoia(), 'disabled': skippedToia() }">
            Skip
            <i class="glyphicon glyphicon-step-forward"></i>
        </button>
        <button class="btn btn-primary btn-sm slide-next" href="#dssSlides" data-slide="next" ng-click="next($event)">
            Next step
            <i class="glyphicon glyphicon-forward"></i>
        </button>
        <button style="display: none" class="btn btn-primary btn-sm slide-services" data-target="#dssSlides" ng-click="next($event)" data-slide-to="5">
            <i class="glyphicon glyphicon-search"></i>
            Results
        </button>
    </li>
</ul>
<!-- Error flash -->
<div class="fade alert-danger col-lg-12 alert-flash" flash-alert="error" active-class="in alert">
    <strong class="alert-heading">Oops!</strong>
    <span class="alert-message">{{flash.message}}</span>
</div>
<!-- Warning flash -->
<div class="fade alert-warn col-lg-12 alert-flash" flash-alert="warn" active-class="in alert">
    <strong class="alert-heading">Oops!</strong>
    <span class="alert-message">{{flash.message}}</span>
</div>
<!--slider-->
<div class="row">
<div id="dssSlides" class="carousel slide">
<!-- Carousel items -->
<div class="carousel-inner">
<!-- bsoia assets slide -->
<div class="active item bsoia-slide" ng-controller="bsoiaController">
    <div class="col-lg-4 form-group form-inline" style="min-height: 200px;">
        <div class="inline">
            <h4>Select what is important for your business</h4>
            <i class="glyphicon glyphicon-info-sign" data-content="The business oriented intangible assets refer to the non-physical entities which are important from business perspectives like financial, marketing and other non-technical perspectives." popup-down></i>
        </div>
        <select label="assets" class="form-control form assets-select item-select" ng-model="bsoiaAsset" ng-options="a.name for a in bsoiaAssets">
            <option></option>
        </select>
        <button class="btn btn-success" ng-click="addBsoiaAsset(bsoiaAsset)" style="width: 19% !important;">Add</button>
    </div>
    <div class="col-lg-8" ng-if="bsoiaAssetsSelected.length > 0">
        <h4>Assets Selected</h4>
        <div class="list-group">
            <a class="list-group-item selected-asset" href="#" ng-repeat="bsoiaAssetSelected in bsoiaAssetsSelected">
                <strong>{{ bsoiaAssetSelected.name }}</strong>
                <span class="glyphicon glyphicon-remove remove-asset" ng-click="removeBsoiaAsset(bsoiaAssetSelected)">&nbsp;</span>
                <p style="margin-top: 10px;">{{ bsoiaAssetSelected.description }}</p>
            </a>
        </div>
    </div>
</div>
<!-- toia assets slide -->
<div class="item toia-slide" ng-controller="toiaController">
    <div class="col-lg-4 form-group form-inline">
        <div class="inline">
            <h4>Select your IT expectations</h4>
            <i class="glyphicon glyphicon-info-sign" data-content="The technical oriented intangible assets refer to the non-physical entities which are important from the technical perspective of cloud service selection." popup-down></i>
        </div>
        <select label="assets" class="form-control form assets-select item-select" ng-model="toiaAsset" ng-options="a.name for a in toiaAssets">
            <option></option>
        </select>
        <button class="btn btn-success" ng-click="addToiaAsset(toiaAsset)" style="width: 19% !important;">Add</button>
        <!-- bsoia tags -->
        <div ng-if="bsoiaAssetsSelected.length > 0" style="margin-top: 45px;">
            <p>Please use the drag and drop action to connect the business oriented intangible assets to the technical oriented intangible assets. This exercise allows you to translate the business perspective based critical entities to the technical perspective based entities.</p>
        </div>
        <div ng-if="bsoiaAssetsSelected.length == 0" style="margin-top: 45px;">
            <div class="alert alert-danger" role="alert">
                No BSOIA selected.
            </div>
        </div>
        <div id="selected-bsoia" class="col-lg-4">
            <button ui-draggable="true" drag="bsoiaAssetSelected" class="btn btn-sm bsoia-tag" ng-class="isBsoiaEverUsed(bsoiaAssetSelected) ? 'btn-info' : 'btn-warning'" ng-repeat="bsoiaAssetSelected in bsoiaAssetsSelected">
                {{bsoiaAssetSelected.name}}
            </button>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="list-group">
            <div  ng-if="toiaAssetsSelected.length > 0">
                <h4>Assets Selected</h4>
            </div>
            <!-- dropzones per toia asset selected -->
            <a class="list-group-item selected-asset dropzone" href="#" ng-repeat="toiaAssetSelected in toiaAssetsSelected track by $index">
                <strong>{{ toiaAssetSelected.asset.name }}</strong>
                <span class="glyphicon glyphicon-remove remove-asset" ng-click="removeToiaAsset(toiaAssetSelected)">&nbsp;</span>
                <p style="margin-top: 10px; margin-bottom: 20px;"> {{ toiaAssetSelected.asset.description }}</p>
                <div ui-on-drop="bsoiaDropped($event, $data, toiaAssetSelected)" class="dropzone-container">
                    <button ui-draggable="true" class="btn btn-sm bsoia-tag-chosen btn-info" ng-repeat="bsoiaRelation in toiaAssetSelected.bsoiaRelations">
                        <small><span class="glyphicon glyphicon-remove remove-bsoia-in-toia-asset" ng-click="removeBsoiaFromToiaAsset(bsoiaRelation, toiaAssetSelected)">&nbsp;</span></small>
                        {{bsoiaRelation.name}}
                    </button>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- ta assets -->
<div class="item ta-slide" ng-controller="taController">
    <div class="col-lg-12">
        <div class="pull-right">
            <div style="display: inline-block; position: relative; top: -7px;">
                <label style="margin-top: -5px;"><i class="glyphicon glyphicon-info-sign" data-content="A single application uses cloud services provided by different CSPs" popup-down></i> Multicloud Deployment </label>
            </div>
            <div style="display: inline-block;">
                <input name="isMulticloudDeployment" bs-switch ng-model="isMulticloudDeployment" type="checkbox" switch-active="true" switch-size="small" switch-animate="true" switch-on-text="&laquo;" switch-off-text="&raquo;" switch-on-color="info" switch-off-color="info" ng-change="setDeploymentType()"/>
            </div>
            <div style="display: inline-block; position: relative; top: 3px;">
                <label class="pull-right"><i class="glyphicon glyphicon-info-sign" data-content="Several instances of the same application are replicated and deployed using different CSPs" popup-down></i> Multicloud Replication</label>
            </div>
        </div>
        <div class="inline">
            <form id="cloud-descriptor-file-selector">
                <input id="load-requirements" ng-file-select="onDSSCloudResourceFileSelect($files)" type="file" class="hidden"/>
            </form>
            <button ng-click="showFileUploadDialog('#load-requirements')" class="btn btn-success"><span class="glyphicon glyphicon-import"></span> Load MODAClouds IDE Model </button>
            <!--<h4>Load your tangible assets</h4>-->
            <i class="glyphicon glyphicon-info-sign" data-content="The tangible assets describe the architectural elements that are intended to be externalized using the cloud services. The cloud services will be recommended for each tangible asset loaded." popup-down></i>
        </div>
        <div class="list-group" style="margin-top: 40px; min-height: 400px;">
            <div ng-if="taAssets.length == 0" style="margin-top: 45px;">
                <div class="alert alert-danger" role="alert">
                    <strong>Oops!</strong>&nbsp;No cloud resources have been loaded yet.
                </div>
            </div>
            <a class="list-group-item selected-asset" href="#" ng-repeat="taAsset in taAssets" ng-switch="taAsset.cloudType">
                <strong ng-switch-when="IaaS">{{ taAsset.cloudResource._serviceName }} (IaaS)</strong>
                <strong ng-switch-when="PaaS">{{ taAsset.cloudPlatform._serviceName }} (PaaS)</strong>
                <span class="glyphicon glyphicon-remove remove-asset" ng-click="removeTaAsset(taAsset)">&nbsp;</span>
                <p ng-switch-when="IaaS" style="margin-top: 10px;">{{ taAsset.cloudResource._serviceType }}</p>
                <p ng-switch-when="PaaS" style="margin-top: 10px;">{{ taAsset.cloudPlatform._serviceType }}</p>
                <p>
                    <div style="display: inline-block; margin-left: 10px; position: relative; top: -5px;">Risk Acceptability level : <i class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="This slider allows you to specify the risk level which will be acceptable on each asset. The risk level is measured as a product of probability of the risk to occur (scale 1-5) and impact of the risk on your asset (scale 1-5). As you move the slider to the right, it would indicate that your asset can endure higher level of risks. As you move the slider to the left, it would indicate a lower resistance to risk thereby indicating the asset should not be exposed to any risk." popup-right></i></div>
                    <div on-risks-type="criticity" data-type="criticity" class="center-text">
                        <span class="label label-danger" style="position: relative; top: -5px;">No risk Accepted</span>
                        <div style="width: 70%; margin-left: 25px; margin-right: 25px; display: inline-block;" slider data-hash-key="{{taAsset._id}}" ng-model="criticityBoundModels[taAsset._id]" start="1" end="25" step="2.4"></div>
                        <!--<div class="inline" style="width: 70%;" popup-right-with-content data-content="{{ getValueDescription(criticityBoundModels[taAsset._id]) }}">-->
                            <!--<div style="width: 70%; margin-left: 25px; margin-right: 25px; display: inline-block;" slider data-hash-key="{{taAsset._id}}" ng-model="criticityBoundModels[taAsset._id]" start="1" end="25" step="2.4"></div>-->
                            <span class="label label-info" style="position: relative; top: -5px;">All risks Acceptable</span>
                        <br/>
                        <p ng-bind="getValueDescription(criticityBoundModels[taAsset._id])"></p>
                        <!--</div>-->
                    </div>
                </p>
            </a>
        </div>
    </div>
</div>
<!--risks slide -->
<div class="item risks-slide" ng-controller="risksController">
    <div class="col-lg-4 form-group form-inline" style="min-height: 200px;">
        <!-- TODO: Apply unique filter in potential risks -->
        <div class="inline">
            <h4>Choose the relevant risks to avoid</h4>
            <i class="glyphicon glyphicon-info-sign" data-content="The risks refer to unwanted events which may occur based on the selected assets. Based on your specification of assets, the drop down menu below on the left allows you to specify the risks which are associated with the assets. For each risk, you can specify the probability/likelihood of the risk to occur and impact/consequence of the risk." popup-down></i>
        </div>
        <select label="risks" class="form-control form assets-select item-select" ng-model="risk" ng-options="r.risk as r.risk.destination.name group by r.group for r in potentialRisksGrouped()" select2 selectField="risk">
            <option></option>
        </select>
        <button class="btn btn-success" ng-click="addRisk(risk)" style="width: 19% !important;">Add</button>
    </div>
    <div class="col-lg-8">
        <div class="list-group">
            <div>
                <input name="risks-per-ta" bs-switch ng-model="showRiskPerTA" type="checkbox" switch-active="true" switch-size="small" switch-animate="true" switch-on-text="YES" switch-off-text="NO" switch-on-color="success" ng-change="toggleActivation()"/>
                <label class="pull-right">&nbsp;&nbsp;Specify risk per tangible asset&nbsp;</label>
                <h4 ng-show="risksSelected.length > 0">Risks Selected</h4>
            </div>
            <div class="list-group-item selected-risk risk-container" href="#" ng-repeat="risk in risksSelected track by $index">
                <span class="glyphicon glyphicon-remove remove-risk" ng-click="removeRisk(risk)">&nbsp;</span>
                <!-- Not showRiskPerTA selection -->
                <div style="margin-top: 10px" ng-show="!showRiskPerTA">
                    <span class="def-tip" data-placement="right" data-content="{{ risk.destination.description }}"><strong>{{risk.destination.name}}</strong></span>
                    <input name="risks-per-ta" ng-init="activateSpecifyLikelihood(risk.destination.name)" ng-model="specifyLikelihoods[risk.destination.name]" bs-switch type="checkbox" switch-active="true" switch-size="small" switch-animate="true" switch-on-text="YES" switch-off-text="NO" switch-on-color="success" ng-change="toggleSpecifyLikelihood(risk.destination.name)"/>
                    <label class="pull-right">Specify Likelihood&nbsp;</label>
                    <br/>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            Associated TOIA assets:
                            <div ng-repeat="toia in associatedTOIA(risk.destination.name) | orderBy:'':true" style="display: inline-block;">
                                <button class="btn btn-sm btn-margin">{{ toia }}</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" style="margin-top: 10px;" ng-show="specifyLikelihoods[risk.destination.name]">
                        <p style="margin-bottom: 15px" class="popover-enabled">Likelihood: <i class="glyphicon glyphicon-info-sign" data-toggle="popover" data-placement="top" data-content="Probability/frequency of risk to occur" popup-right></i></p>
                        <div on-risks-type="simple" data-type="likelihood">
                            <div style="width: 80%; margin-bottom: 15px;" slider data-model="simple" data-hash-key="{{risk.destination.name + '/likelihood'}}" ng-model="$parent.riskBoundModels[risk.destination.name + '/likelihood']" start="$eval('{' + risk.destination.attributes + '}').range[0]" end="$eval('{' + risk.destination.attributes + '}').range[1]" step="$eval('{' + risk.destination.attributes + '}').step">
                                <span class="label label-default secondary radius right requirement-value">&nbsp;</span>
                            </div>
                        </div>
                    </div>
                    <div class="" style="margin-top: 10px" ng-class="{ 'col-lg-12': !specifyLikelihoods[risk.destination.name], 'col-lg-6': specifyLikelihoods[risk.destination.name] }">
                        <p style="margin-bottom: 15px;">Consequence: <i class="glyphicon glyphicon-info-sign" data-toggle="popover" data-placement="top" data-content="Impact of risk on asset" popup-right></i></p>
                        <div on-risks-type="simple" data-type="consequence">
                            <div style="width: 80%; margin-bottom: 15px;" slider data-model="simple" data-hash-key="{{risk.destination.name + '/consequence'}}" ng-model="$parent.riskBoundModels[risk.destination.name + '/consequence']" start="$eval('{' + risk.destination.attributes + '}').range[0]" end="$eval('{' + risk.destination.attributes + '}').range[1]" step="$eval('{' + risk.destination.attributes + '}').step">
                                <span class="label label-default secondary radius right requirement-value">&nbsp;</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Multiple selection -->
                <div style="margin-top: 10px" ng-show="showRiskPerTA">
                    <span class="def-tip" data-placement="right" data-content="{{ risk.destination.description }}"><strong>{{risk.destination.name}}</strong></span>
                    <input name="risks-per-ta" ng-init="activateSpecifyTALikelihood(risk.destination.name)" ng-model="specifyTALikelihoods[risk.destination.name]" bs-switch type="checkbox" switch-active="true" switch-size="small" switch-animate="true" switch-on-text="YES" switch-off-text="NO" switch-on-color="success" ng-change="toggleSpecifyTALikelihood(risk.destination.name)"/>
                    <label class="pull-right">Specify Likelihood&nbsp;</label>
                    <br/>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            Associated TOIA assets:
                            <div ng-repeat="toia in associatedTOIA(risk.destination.name) | orderBy:'':true" style="display: inline-block;">
                                <button class="btn btn-sm btn-margin">{{ toia }}</button>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="taAsset in taAssets" class="col-lg-12">
                        <div ng-switch="taAsset.cloudType">
                            <span ng-switch-when="IaaS" class="def-tip" data-placement="right" data-content="{{ taAsset.cloudResource._serviceType }}"><strong>{{taAsset.cloudResource._serviceName}}</strong></span>
                            <span ng-switch-when="PaaS" class="def-tip" data-placement="right" data-content="{{ taAsset.cloudPlatform._serviceType }}"><strong>{{taAsset.cloudPlatform._serviceName}}</strong></span>
                        </div>
                        <br/>
                        <div class="col-lg-6" style="margin-top: 10px; display: block;" ng-show="specifyTALikelihoods[risk.destination.name]">
                            <p style="margin-bottom: 15px">Likelihood: <i class="glyphicon glyphicon-info-sign"  data-toggle="popover" data-placement="top" data-content="Probability/frequency of risk to occur" popup-right></i> </p>
                            <div on-risks-type="multiple" data-type="likelihood" ng-switch="taAsset.cloudType">
                                <div ng-switch-when="IaaS" style="width: 80%; margin-bottom: 15px;" slider data-model="multiple" data-hash-key="{{$parent.risk.destination.name + '/' + taAsset._id + '/likelihood'}}" ng-model="$parent.$parent.$parent.riskBoundModels[$parent.risk.destination.name + '/' + taAsset._id + '/likelihood']" start="$eval('{' + $parent.risk.destination.attributes + '}').range[0]" end="$eval('{' + $parent.risk.destination.attributes + '}').range[1]" step="$eval('{' + $parent.risk.destination.attributes + '}').step">
                                    <span class="label label-default secondary radius right requirement-value">&nbsp;</span>
                                </div>
                                <div ng-switch-when="PaaS" style="width: 80%; margin-bottom: 15px;" slider data-model="multiple" data-hash-key="{{$parent.risk.destination.name + '/' + taAsset._id + '/likelihood'}}" ng-model="$parent.$parent.$parent.riskBoundModels[$parent.risk.destination.name + '/' + taAsset._id + '/likelihood']" start="$eval('{' + $parent.risk.destination.attributes + '}').range[0]" end="$eval('{' + $parent.risk.destination.attributes + '}').range[1]" step="$eval('{' + $parent.risk.destination.attributes + '}').step">
                                    <span class="label label-default secondary radius right requirement-value">&nbsp;</span>
                                </div>
                            </div>
                        </div>
                        <div class="" style="margin-top: 10px; display: block" ng-class="{'col-lg-12': !specifyTALikelihoods[risk.destination.name], 'col-lg-6': specifyTALikelihoods[risk.destination.name]}">
                            <p style="margin-bottom: 15px;">Consequence: <i class="glyphicon glyphicon-info-sign" data-toggle="popover" data-placement="top" data-content="Impact of risk on asset" popup-right></i></p>
                            <div on-risks-type="multiple" data-type="consequence" ng-switch="taAsset.cloudType">
                                <div ng-switch-when="IaaS" style="width: 80%; margin-bottom: 15px;" slider data-model="multiple" data-hash-key="{{$parent.risk.destination.name + '/' + taAsset._id + '/consequence'}}" ng-model="$parent.$parent.$parent.riskBoundModels[$parent.risk.destination.name + '/' + taAsset._id + '/consequence']" start="$eval('{' + $parent.risk.destination.attributes + '}').range[0]" end="$eval('{' + $parent.risk.destination.attributes + '}').range[1]" step="$eval('{' + $parent.risk.destination.attributes + '}').step">
                                    <span class="label label-default secondary radius right requirement-value">&nbsp;</span>
                                </div>
                                <div ng-switch-when="PaaS" style="width: 80%; margin-bottom: 15px;" slider data-model="multiple" data-hash-key="{{$parent.risk.destination.name + '/' + taAsset._id + '/consequence'}}" ng-model="$parent.$parent.$parent.riskBoundModels[$parent.risk.destination.name + '/' + taAsset._id + '/consequence']" start="$eval('{' + $parent.risk.destination.attributes + '}').range[0]" end="$eval('{' + $parent.risk.destination.attributes + '}').range[1]" step="$eval('{' + $parent.risk.destination.attributes + '}').step">
                                    <span class="label label-default secondary radius right requirement-value">&nbsp;</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--treatments slide-->
<div class="item treatments-slide" ng-controller="treatmentsController">
    <div class="col-lg-4 form-group form-inline" style="min-height: 300px;">
        <div class="inline">
            <h4>Choose the treatment</h4>
            <i class="glyphicon glyphicon-info-sign" data-content="The treatments refer to the actions which should be taken or the property which the cloud services should have in order to protect the asset from the risk(s) selected in previous screen. You can use the drop-down menu below on the left to choose the treatment for each tangible asset which have been grouped together by the risk they mitigate." popup-down></i>
        </div>
        <div class="panel-group" id="treatments-accordion">
            <div class="panel panel-default" ng-repeat="taAsset in taAssets track by $index">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#treatments-accordion" ng-href="{{'#collapse' + $index}}" ng-switch="taAsset.cloudType">
                            <p ng-switch-when="IaaS"> {{ taAsset.cloudResource._serviceName + ' (IaaS)' }} </p>
                            <p ng-switch-when="PaaS"> {{ taAsset.cloudPlatform._serviceName + ' (PaaS)' }} </p>
                        </a>
                    </h4>
                </div>
                <div id="{{ 'collapse' + $index }}" class="panel-collapse collapse">
                    <div class="panel-body" ng-switch="taAsset.cloudType">
                        <div ng-switch-when="IaaS">
                            <select label="treatments" class="form-control form assets-select item-select" ng-model="potentialTreatment"
                                    ng-options="p as p.treatment.name group by p.group for p in potentialTreatmentsGroupedAndFiltered(taAsset.cloudType, taAsset.cloudResource._serviceType)" select2 selectField="treatment">
                                <option></option>
                            </select>
                            <button class="btn btn-success" ng-click="addTreatment(potentialTreatment.treatment, taAsset)" style="width:19% !important;">Add</button>
                        </div>
                        <div ng-switch-when="PaaS">
                            <!--| byCloudAndServiceTypes:taAsset.cloudType:taAsset.cloudPlatform._serviceType"-->
                            <select label="treatments" class="form-control form assets-select item-select" ng-model="potentialTreatment"
                                    ng-options="p as p.treatment.name group by p.group for p in potentialTreatmentsGroupedAndFiltered(taAsset.cloudType, taAsset.cloudPlatform._serviceType)" select2 selectField="treatment">
                                <option></option>
                            </select>
                            <button class="btn btn-success" ng-click="addTreatment(potentialTreatment.treatment, taAsset)" style="width:19% !important;">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="list-group">
            <div  ng-if="treatmentsSelected.length > 0">
                <h4>Treatments Selected</h4>
            </div>
            <a class="list-group-item selected-treatment" href="#" ng-repeat="treatmentSelected in treatmentsSelected">
                <span class="glyphicon glyphicon-remove remove-treatment" ng-click="removeTreatment(treatmentSelected)">&nbsp;</span>
                <div ng-show="treatmentSelected.representation == 'select'">
                    <input name="showTreatmentValues" bs-switch ng-model="showTreatmentValues[treatmentSelected.name]" type="checkbox" switch-active="true" switch-size="small" switch-animate="true" switch-on-text="YES" switch-off-text="NO" switch-on-color="success" ng-change="toggleTreatmentValues(treatmentSelected.name)">
                    <label class="pull-right">Specify treatment value&nbsp;</label>
                </div>
                <strong>{{ treatmentSelected.label }}</strong>
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        Associated risks:
                        <div ng-repeat="risk in associatedRisks(treatmentSelected.name) | orderBy:'':true" style="display: inline-block;">
                        <button class="btn btn-sm btn-margin">{{ risk }}</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        Associated tangible assets:
                        <div ng-repeat="taRelation in treatmentSelected.taRelations" ng-switch="taRelation.cloudType" class="remove-ta-treatment" style="display: inline-block;">
                            <button ng-switch-when="IaaS" class="btn btn-sm btn-info btn-margin">
                                {{ taRelation.cloudResource._serviceName }} (IaaS)
                                <small><span class="glyphicon glyphicon-remove remove-dragdrop" ng-click="removeTaFromTreatment(treatmentSelected, taRelation)">&nbsp;</span></small></button>
                            <button ng-switch-when="PaaS" class="btn btn-sm btn-info btn-margin">
                                {{ taRelation.cloudPlatform._serviceName }} (PaaS)
                                <small><span class="glyphicon glyphicon-remove remove-dragdrop" ng-click="removeTaFromTreatment(treatmentSelected, taRelation)">&nbsp;</span></small></button>
                        </div>
                    </div>
                </div>
                <div ng-switch="treatmentSelected.representation">
                    <div ng-switch-when="select">
                        <br>
                        <select ng-init="treatmentValues[treatmentSelected.name] = treatmentValues[treatmentSelected.name] || utils.keys(treatmentSelected.options)[0]"
                                ng-show="showTreatmentValues[treatmentSelected.name]"
                                class="form-control" data-hash-key="treatmentSelected.name"
                                ng-model="treatmentValues[treatmentSelected.name]"
                                ng-options="key as value for (key,value) in treatmentSelected.options | orderBy:'key':true" track by $index
                                ng-change="treatmentValueChanged(treatmentSelected.options[treatmentValues[treatmentSelected.name]], treatmentSelected)">
                            <option value="" disabled selected>--- Select a value ---</option>
                        </select>
                        <br/>
                    </div>
                    <div ng-switch-when="radio">
                        <br>
                        <div ng-init="addRadioValue(treatmentSelected.name)"></div>
                    </div>
                    <div ng-switch-when="map">
                        <br>
                        <dss-map treatment-name="treatmentSelected.name" class="dss-map"></dss-map>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<!--services slide-->
<div class="item services-slide" ng-controller="cloudController">
    <div class="col-lg-12">
        <!--per deployment results-->
        <div class="row">
            <div class="col-lg-1 text-right">
                <h4>Order By:</h4>
            </div>
            <div class="col-lg-11">
                <div class="btn-group btn-group-justified">
                    <a class="btn btn-default" ng-class="{'active': isOrderBySelected('overallScore')}" ng-click="orderBy='overallScore'">Risk Mitigation</a>
                    <a class="btn btn-default" ng-class="{'active': isOrderBySelected('minimalDeploymentCost')}" ng-click="orderBy='minimalDeploymentCost'">Minimal Deployment Cost</a>
                    <a class="btn btn-default" ng-class="{'active': isOrderBySelected('qualityScore')}" ng-click="orderBy='qualityScore'">Quality Perception Score</a>
                    <a class="btn btn-default" ng-class="{'active': isOrderBySelected('migrationScore')}" ng-click="orderBy='migrationScore'">Ease of Migration</a>
                </div>
            </div>
        </div>
        <br/>
        <ul class="list-group">
            <li class="list-group-item service-proposal-panel" ng-class="{ 'service-selected': isSelected(result), 'has-risks': hasUnmitigatedRisks(result) }" on-repeat-done ng-repeat="result in getDeploymentProposals() | multicloudReplication | orderBy: orderBy :true track by $index">
                <div class="row" ng-click="selectService(result)">
                    <div class="col-lg-1">
                        <div class="well service-proposal-score service-proposal-score-overall">
                            <h6 ng-show="isOrderBySelected('overallScore')">Rist Mitigation<br/>Deployment<br/>Score</h6>
                            <h6 ng-show="isOrderBySelected('minimalDeploymentCost')">Minimal Deployment<br/>Cost</h6>
                            <h6 ng-show="isOrderBySelected('migrationScore')">Migration<br/>Score</h6>
                            <h6 ng-show="isOrderBySelected('qualityScore')">Quality<br/>Score</h6>
                            <hr/>
                            <h3 ng-show="isOrderBySelected('overallScore')">{{ (result.overallScore * 10.0 || 0) | number: 2 }}</h3>
                            <h3 ng-show="isOrderBySelected('minimalDeploymentCost')">{{ (result.minimalDeploymentCost || 0) | number: 2 }}</h3>
                            <h3 ng-show="isOrderBySelected('migrationScore')">{{ (result.migrationScore * 10.0 || 0) | number: 2 }}</h3>
                            <h3 ng-show="isOrderBySelected('qualityScore')">{{ (result.qualityScore * 2.0 * 10.0 || 0) | number: 2 }}</h3>
                            <br/>
                        </div>
                        <div class="center-block center-text">
                            <span class="selected hasRisks label label-warning" ng-show="!hasUnmitigatedRisks(result) && isVendorLockedIn(result)" data-content="Please note possible vendor lock-in risk" popup-right>
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                        </div>
                        <div class="center-block center-text">
                            <span class="selected hasRisks label label-danger" ng-show="hasUnmitigatedRisks(result) || (hasUnmitigatedRisks(result) && isVendorLockedIn(result))" data-content="Some risks are unmitigated within one or more providers or they are from the same provider which imposes risk of vendor lock-in" popup-right>
                                <i class="glyphicon glyphicon-exclamation-sign"></i>
                            </span>
                        </div>
                        <div class="center-block center-text">
                            <span class="selected label label-success" ng-show="isSelected(result)" >
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-11">
                        <table class="table" style="table-layout: fixed;">
                            <tr>
                                <td ng-repeat="service in result">
                                    <div class="panel panel-default">
                                        <div class="panel-heading service-proposal-title">
                                            <div ng-switch="service.ta.cloudType">
                                                <h3 ng-switch-when="IaaS">{{ service.ta.cloudResource._serviceType }} ({{ service.ta.cloudType }})</h3>
                                                <h3 ng-switch-when="PaaS">{{ service.ta.cloudPlatform._serviceType }} ({{ service.ta.cloudType }})</h3>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="service-proposal">
                                                <div class="row">
                                                    <div class="col-lg-4 col-sm-12">
                                                        <div class="service-proposal-logo">
                                                            <img ng-src="{{service.provider.logo_url}}"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-5 col-sm-8">
                                                        <p><strong>Provider: </strong>{{ service.provider.name }}</p>
                                                        <p><strong>Service: </strong>{{ service.service.name }}</p>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-4">
                                                        <div class="well service-proposal-score">
                                                            <h6>Score</h6>
                                                            <hr/>
                                                            <h3 ng-show="isOrderBySelected('overallScore')">{{ ((service.score / service.total) || 0.0) * 10.0 | number: 2 }}</h3>
                                                            <h3 ng-show="isOrderBySelected('minimalDeploymentCost')">{{ (service.minimalDeploymentCost || 0) | number: 2 }}</h3>
                                                            <h3 ng-show="isOrderBySelected('migrationScore')">{{ (service.migrationScore * 10.0 || 0) | number: 2 }}</h3>
                                                            <h3 ng-show="isOrderBySelected('qualityScore')">{{ (service.service.quality * 2.0 || 0) | number: 2 }}</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <button class="btn btn-sm btn-default pull-right" style="margin-right: 30px;" ng-click="showHideDetails($event, service.service, $index)">Details</button>
                                                    </div>
                                                </div>
                                                <div class="service-proposal-description">
                                                    <div class="service-proposal-details" ng-show="service.service.showDetails">
                                                        <h4>Description</h4>
                                                        <p>{{service.provider.description}}</p>
                                                        <hr/>
                                                        <h4>Provider Information</h4>
                                                        <ul>
                                                            <li>Year founded: {{ service.provider.year_founding || "-" }}</li>
                                                            <li>Number of Employees: {{ service.provider.number_of_employees || "-" }}</li>
                                                            <li>Headquarters: {{ service.provider.headquarters || "-" }}</li>
                                                            <li>Website: <a href="{{ service.provider.website }}">{{ service.provider.website || "-" }}</a></li>
                                                        </ul>
                                                        <hr/>
                                                        <h4>Service Characteristics Values</h4>
                                                        <dss-radar service="service.service" characteristics-array="$parent.$parent.characteristicsArray" characteristics="service.characteristics"></dss-radar>
                                                        <hr/>
                                                        <h4 ng-show="service.unmitigatedRisks">Unmitigated Risks</h4>
                                                        <ul>
                                                            <li ng-repeat="unmitigatedRisk in service.unmitigatedRisks | orderBy: ''">{{unmitigatedRisk}}</li>
                                                        </ul>
                                                        <div class="row service-data-sources">
                                                            <h4>Data sources: </h4>
                                                            <ul>
                                                                <li ng-repeat="source in service.service.sources">
                                                                    <div class="row">
                                                                        <div class="col-lg-6">
                                                                            <p>{{ source.name }}</p>
                                                                        </div>
                                                                        <div class="col-lg-6">
                                                                            <a ng-href="{{source.url}}"><img class="service-source-logo" ng-src="{{source.logo}}" alt="{{source.name}}"></a>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--slides end-->
</div>
</div>
</div>
<!--slider end-->
</div>
<!--end main container-->
</div>
<div id="spinner">
    <span us-spinner="{radius: 30, width:8, length: 16}" spinner-key="dss-spinner" hide-spinner=""></span>
</div>
<button class="btn btn-default btn-sm scroll-top">Back to Top&nbsp;<span class="glyphicon glyphicon-circle-arrow-up"></span></button>

<!-- Don't change scripts order, it is important to keep it so it is -->
<!--<script src="components/jquery/dist/jquery.min.js"></script>-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<!--<script src="components/jquery-ui/jquery-ui.min.js"></script>-->
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
<script src="components/ng-file-upload/angular-file-upload-shim.js"></script>
<!--<script src="components/angular/angular.js"></script>-->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
<script src="components/angular-local-storage/angular-local-storage.js"></script>
<script src="components/bootstrap/dist/js/bootstrap.js"></script>
<script src="components/bootstrap/js/transition.js"></script>
<script src="components/bootstrap/js/collapse.js"></script>
<script src="components/nouislider/jquery.nouislider.js"></script>
<script src="components/nouislider/Link.js"></script>
<script src="components/angular-nouislider/src/nouislider.js"></script>
<script src="components/angular-flash/dist/angular-flash.min.js"></script>
<script src="components/underscore/underscore.js"></script>
<script src="components/select2/select2.min.js"></script>
<script src="components/angular-dragdrop/draganddrop.js"></script>
<script src="components/angular-loading-bar/src/loading-bar.js"></script>
<script src="components/ng-file-upload/angular-file-upload.js"></script>
<script src="components/x2js/xml2json.js"></script>
<script src="components/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
<script src="components/angular-bootstrap-switch/dist/angular-bootstrap-switch.js"></script>
<script src="components/ngDialog/js/ngDialog.js"></script>
<script src="components/spin.js/spin.js"></script>
<script src="components/angular-spinner/angular-spinner.js"></script>
<script src="components/ArangoDB-JavaScript/build/arango.js"></script>
<script src="components/d3/d3.js"></script>
<script src="components/topojson/topojson.js"></script>
<script src="components/radar-chart-d3/src/radar-chart.js"></script>
<script src="components/angucomplete/angucomplete.js"></script>
<!-- DSS-related scripts -->
<script src="app.min.js"></script>
</body>
</html>
