<div style="margin-top: 10px">
    <span class="def-tip" data-placement="right" data-content="{{ risk.destination.description }}"><strong>{{risk.destination.name}}</strong></span>
    <br/>
    <div class="col-lg-6" style="margin-top: 10px;">
        <p style="margin-bottom: 15px">Likelihood: </p>
        <span class="label label-default secondary radius right requirement-value">&nbsp;</span>
        <div style="width: 80%; margin-bottom: 15px;" class="noUiSlider"></div>
    </div>
    <div class="col-lg-6" style="margin-top: 10px">
        <p style="margin-bottom: 15px;">Consequence :</p>
        <span class="label label-default secondary radius right requirement-value">&nbsp;</span>
        <div style="width: 80%; margin-bottom: 15px;" class="noUiSlider"></div>
    </div>
</div>
