<!-- When switch is on, specify risk for all TA as a whole -->
<div style="margin-top: 10px" ng-show="!multiple">
    <div ng-if="!multiple" on-risks-type="single"></div>
    <span class="def-tip" data-placement="right" data-content="{{ risk.destination.description }}"><strong>{{risk.destination.name}}</strong></span>
    <br/>
    <div class="col-lg-6" style="margin-top: 10px;">
        <p style="margin-bottom: 15px">Likelihood: </p>
        <span class="label label-default secondary radius right requirement-value">&nbsp;</span>
        <div style="width: 80%; margin-bottom: 15px;" class="noUiSlider"></div>
    </div>
    <div class="col-lg-6" style="margin-top: 10px">
        <p style="margin-bottom: 15px;">Consequence :</p>
        <span class="label label-default secondary radius right requirement-value">&nbsp;</span>
        <div style="width: 80%; margin-bottom: 15px;" class="noUiSlider"></div>
    </div>
</div>
<!-- When switch is off, specify risk for all TA (independently, for each one) -->
<div style="margin-top: 10px" ng-show="multiple">
    <div ng-if="multiple" on-risks-type="multiple"></div>
    <span class="def-tip" data-placement="right" data-content="{{ risk.destination.description }}"><strong>{{risk.destination.name}}</strong></span>
    <br/>
    <div ng-repeat="taAsset in taAssets" on-repeat-done="repeatDone" class="col-lg-12">
        <span class="def-tip" data-placement="right" data-content="{{ taAsset.cloudResource._serviceType }}"><strong>{{taAsset.cloudResource._serviceName}}</strong></span>
        <br/>
        <div class="col-lg-6" style="margin-top: 10px; display: block;">
            <p style="margin-bottom: 15px">Likelihood: </p>
            <span class="label label-default secondary radius right requirement-value">&nbsp;</span>
            <div style="width: 80%; margin-bottom: 15px;" class="noUiSlider"></div>
        </div>
        <div class="col-lg-6" style="margin-top: 10px; display: block">
            <p style="margin-bottom: 15px;">Consequence :</p>
            <span class="label label-default secondary radius right requirement-value">&nbsp;</span>
            <div style="width: 80%; margin-bottom: 15px;" class="noUiSlider"></div>
        </div>
    </div>
</div>
