<div>
    <div class="ngdialog-message">
        <p>Some business-oriented intangible assets weren't associated to some of the technical oriented intangible assets. Please keep in mind that in the current DSS version these business assets won't be taken into account when finding potential risks.</p>
    </div>
    <div style="margin-top: 25px" class="ngdialog-buttons">
        <button type="button" class="btn btn-warning" style="float: right; margin-right: 5px" ng-click="continue()">Continue</button>
        <button type="button" class="btn btn-success" style="float: right; margin-right: 5px" ng-click="stay()">Back</button>
    </div>
</div>