<div>
    <div>
        <div style="text-align:center; margin-top: 25px; margin-bottom: 25px;">
            <a ng-href="{{selectedService.originalObject.providerWebsite || '#'}}"><img class="thumbnail" ng-src="{{ selectedService.originalObject.providerLogoUrl}}" style="max-width: 420px;"></a>
        </div>
        <p>{{selectedService.originalObject.providerDescription}}</p>
        <hr/>
        <h4>Provider Information</h4>
        <ul>
            <li>Year founded: {{ selectedService.originalObject.providerYearFounding || "-" }}</li>
            <li>Number of Employees: {{ selectedService.originalObject.providerNumberEmployees || "-" }}</li>
            <li>Headquarters: {{ selectedService.originalObject.providerHeadquarters || "-" }}</li>
            <li>Website: <a ng-href="{{ selectedService.originalObject.providerWebsite || '#' }}">{{ selectedService.originalObject.providerWebsite || "-" }}</a></li>
            <li>Contact: <a ng-href="mailto:{{ selectedService.originalObject.providerContact || '#' }}">{{ selectedService.originalObject.providerContact || "-" }}</a></li>
        </ul>
        <hr/>
        <h4>Service Information</h4>
        <ul>
            <li>Name: {{selectedService.originalObject.serviceName}}</li>
            <li>Cloud type: {{selectedService.originalObject.serviceCloudType}}</li>
        </ul>
    </div>
</div>