html, body {
  height: 100%;
}

.margin-10 {
  margin: {
    left: 10px;
    right: 10px;
  }
}

.logo {
  background: url('../img/image4094_1.png') no-repeat #ffffff;
  display: block;
  width: 111px;
  height: 65px;
  margin: {
    top: 10px;
    bottom: 10px;
    left: 20px;
  }
}

.logo-text {
  h3 {
    font-size: 48px;
  }
}

blockquote {
  cursor: hand;
  &:hover {
    cursor: pointer;
    background-color: #f3f3f3;
    color: #222;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  p.active {
    color: #18bc9c;
  }
}

.sticky-bottom {
  position: relative;
  bottom: 10px;
  right: -15px;
}

.item-select {
  width: 80% !important;
}

.def-tip {
  cursor: help;
  float: left;
  display: block;
}

.remove-asset, .remove-risk {
  float: right !important;
  margin-right: -25px !important;
  vertical-align: middle !important;
  display: none;
  top: 5px;
  position: relative;
}

/* Select2 overwrites */
.select2-choice, .select2-search, .select2-result-selectable, .select2-input {
  height: 43px !important;
}

#s2id_autogen2_search {
  height: 43px !important;
}

.select2-chosen-2, .select2-result-selectable, .select2-choice {
  line-height: 2.5 !important;
}

/* BSOIA tags */
.bsoia-tag {
  display: block;
  margin-top: 10px;
  margin-left: -12px;
}

.bsoia-tag-chosen {
  display: inline;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.bsoia-tag-used {
  background-color: #DAA520 !important;
  border-color: #DAA520 !important;
}

.remove-bsoia-in-toia-asset {
  float: right !important;
  margin-right: -20px !important;
  vertical-align: middle !important;
  display: none;
  position: relative;
  top: -5px;
}

/* Drop zones */
.dropzone {
  background-color: #E8FDF9;
  min-height: 150px;
  height: auto !important;
  max-height: 800px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 10px;
}

.dropzone-container {
  border: 2px;
  border-style: dashed;
  min-height: 50px;
  height: auto !important;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Flash */

.alert-warn {
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
}

.alert-warn,
.alert-warn h4 {
  color: #c09853;
}

.alert-danger, .alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-flash h4 {
  margin: 0;
}

.alert-danger h4, .alert-error h4 {
  color: #b94a48;
}

.alert-danger h4, .alert-error h4 {
  color: #b94a48;
}

/* Risks switch */

.bootstrap-switch {
  float: right !important;
}

.bootstrap-switch-success {
  background-color: #18bc9c !important;
}

/* Risk container */

.risk-container {
  min-height: 100px;
  height: auto !important;
  max-height: 800px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 10px;
}

.requirement-value {
  float: right;
}

.risk-very-low {
  background-color: darkgreen !important;
}

.risk-low {
  background-color: lightgreen !important;
}

.risk-normal {
  background-color: orange !important;
}

.risk-high {
  background-color: #B94A48 !important;
}

.risk-very-high {
  background-color: maroon !important;
}