html, body {
  height: 100%;
}

.margin-10 {
  margin: {
    left: 10px;
    right: 10px;
  }
}

.logo {
  background: url('../img/image4094_1.png') no-repeat #ffffff;
  display: block;
  width: 111px;
  height: 65px;
  margin: {
    top: 10px;
    bottom: 10px;
    left: 20px;
  }
}

.logo-text {
  h3 {
    font-size: 48px;
  }
}

blockquote {
  cursor: hand;
  &:hover {
    cursor: pointer;
    background-color: #f3f3f3;
    color: #222;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  p.active {
    color: #18bc9c;
  }
}



.sticky-bottom {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.item-select {
  width: 80% !important;
}

.def-tip {
  cursor: help;
}

.remove-asset {
  float: right !important;
  margin-right: -25px !important;
  vertical-align: middle !important;
  display: none;
}

