<!DOCTYPE html>
<html lang="en" ng-app="dssApp">
<head>
    <meta charset="UTF-8">
    <title>MODAClouds - Decision Support System</title>
    <link rel="stylesheet" href="assets/css/bootstrap.css"/>
    <link rel="stylesheet" href="assets/css/dss.css"/>
    <link rel="stylesheet" href="components/nouislider/jquery.nouislider.css"/>
    <link rel="stylesheet" href="components/css-toggle-switch/dist/toggle-switch.css"/>
</head>
<body ng-app="dssApp">
<div class="container-fluid margin-10">
    <div class="row">
        <div class="col-lg-4 logo"></div>
        <div class="col-lg-8 logo-text">
            <h3>Decision Support System</h3>
        </div>
    </div>
    <!--navbar-->
    <div class="row">
        <div class="navbar navbar-inverse" ng-controller="mainController">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#"><span class="glyphicon glyphicon-import"></span> Load Requirements</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-export"></span> Export Results</a>
                </li>
                <li>
                    <form class="navbar-form">
                        <input type="text" class="form-control col-lg-4" placeholder="Search Cloud Service" />
                    </form>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Options <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" ng-click="saveSessionFile($event)"><span class="glyphicon glyphicon-export"></span> Export Session</a></li>
                        <li>
                            <a href="#" ng-click="uploadSessionFile()"><span class="glyphicon glyphicon-import"></span> Import Session</a>
                            <input type="file" id="uploadSessionFile" class="hidden" on-read-file="loadLocalSessionContent($fileContent)"/>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#" ng-click="clearSelection()"><span class="glyphicon glyphicon-trash"></span> Clean Selection</a></li>
                    </ul>
                </li>
                <li>
                    &nbsp;&nbsp;
                    &nbsp;&nbsp;
                </li>
            </ul>
        </div>
    </div>
    <!--end navbar-->
    <!-- main container-->
    <div class="row mainContainer">
        <div class="row topMenu">
            <div class="col-lg-2 bsoia-slide" data-target="#dssSlides" data-slide-to="0">
                <blockquote>
                    <p class="active">1. BSOIA </p>
                </blockquote>
            </div>
            <div class="col-lg-2 toia-slide" data-target="#dssSlides" data-slide-to="1">
                <blockquote>
                    <p>2. TOIA </p>
                </blockquote>
            </div>
            <div class="col-lg-2 ta-slide" data-target="#dssSlides" data-slide-to="2">
                <blockquote>
                    <p>3. TA </p>
                </blockquote>
            </div>
            <div class="col-lg-2 risks-slide" data-target="#dssSlides" data-slide-to="3">
                <blockquote>
                    <p>3. Risks</p>
                </blockquote>
            </div>
            <div class="col-lg-2 treatments-slide" data-target="#dssSlides" data-slide-to="4">
                <blockquote>
                    <p>4. Treatments</p>
                </blockquote>
            </div>
            <div class="col-lg-2 services-slide" data-target="#dssSlides" data-slide-to="5">
                <blockquote>
                    <p>5. Cloud Services</p>
                </blockquote>
            </div>
        </div>
        <!--slider-->
        <div class="row">
            <div id="dssSlides" class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <!-- bsoia assets slide -->
                    <div class="active item bsoia-slide" ng-controller="bsoiaController">
                        <div class="col-lg-4 form-group form-inline">
                            <select label="assets" class="form-control form assets-select item-select" ng-model="bsoiaAsset" ng-options="a.name for a in bsoiaAssets">
                                <option value="">-</option>
                            </select>
                            <button class="btn btn-success" ng-click="addBsoiaAsset(bsoiaAsset)">Add</button>
                        </div>
                        <div class="col-lg-4">
                          <h4>Assets Selected</h4>
                          <div class="list-group">
                            <a class="list-group-item selected-asset" href="#" ng-repeat="bsoiaAsset in bsoiaAssetsSelected">
                              <strong>{{ bsoiaAsset.name }}</strong>
                              <span class="glyphicon glyphicon-remove remove-asset">&nbsp;</span>
                            </a>
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <h4>Definition</h4>
                          <p>{{ asset.description }}</p>
                        </div>
                    </div>
                    <!-- toia assets slide -->
                    <div class="item toia-slide">
                        <div class="col-lg-4 form-group form-inline">
                            <select label="assets" class="form-control form assets-select item-select" ng-model="asset" ng-options="a.name group by a.category for a in assets">
                                <option value="">-</option>
                            </select>
                            <button class="btn btn-success" ng-click="assetsSelected.push(asset)">Add</button>
                        </div>
                        <div class="col-lg-4">
                            <h4>Assets Selected</h4>
                            <div class="list-group">
                                <a class="list-group-item" href="#" ng-repeat="assetSelected in assetsSelected">
                                    <strong>{{ assetSelected.name }}</strong>
                                    <br>
                                    <small>category: {{ assetSelected.category }}</small>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <h4>Definition</h4>
                            <p>{{ asset.description }}</p>
                        </div>
                    </div>
                    <div class="item ta-slide">
                        <div class="col-lg-4 form-group form-inline">
                            <select label="assets" class="form-control form assets-select item-select" ng-model="asset" ng-options="a.name group by a.category for a in assets">
                                <option value="">-</option>
                            </select>
                            <button class="btn btn-success" ng-click="assetsSelected.push(asset)">Add</button>
                        </div>
                        <div class="col-lg-4">
                            <h4>Assets Selected</h4>
                            <div class="list-group">
                                <a class="list-group-item" href="#" ng-repeat="assetSelected in assetsSelected">
                                    <strong>{{ assetSelected.name }}</strong>
                                    <br>
                                    <small>category: {{ assetSelected.category }}</small>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <h4>Definition</h4>
                            <p>{{ asset.description }}</p>
                        </div>
                    </div>
                    <!--risks slide -->
                    <div class="item risks-slide">
                        <div class="col-lg-4 form-group form-inline">
                            <h4>Risks Identifed</h4>
                            <select label="risks" class="form-control form assets-select item-select" ng-model="risk" ng-options="r.name group by r.asset for r in risks">
                                <option value="">--</option>
                            </select>
                            <button class="btn btn-success" ng-click="risksSelected.push(risk)">Add</button>
                        </div>
                        <div class="col-lg-8">
                            <h4>Risks Selected</h4>
                            <div ng-repeat="item in risksSelected">
                                <div ng-switch="item.representation">
                                    <div ng-switch-when="input">
                                        <req-input riskname="{{ item.name }}" definition="{{ item.description }}"></req-input>
                                    </div>
                                    <div ng-switch-when="radio">
                                        <req-radio itemname="{{ item.name }}" definition="{{ item.description }}"></req-radio>
                                    </div>
                                    <div ng-switch-when="select">
                                        <req-select itemname="{{ item.name }}" definition="{{ item.description }}" ></req-select>
                                    </div>
                                    <div ng-switch-when="slider">
                                        <req-slider itemname="{{ item.name }}" definition="{{ item.description }}"></req-slider>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--requirements slide-->
                    <div class="item treatments-slide">
                        <div class="col-lg-12">
                            <div class="alert alert-warning alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <strong>Note: </strong>Please choose requirements which fulfill your search criteria and has not been identified in the assets and requiremetns section
                            </div>
                        </div>
                        <div class="col-lg-4 form-group form-inline">
                            <select label="requiremetns" class="form-control form assets-select item-select" ng-model="requirement" ng-options="r.name group by r.category for r in requirements">
                                <option value="">--</option>
                            </select>
                            <button class="btn btn-success" ng-click="requirementsSelected.push(requirement)">Add</button>
                        </div>
                        <div class="col-lg-4">
                            <h4>Requirements</h4>
                            <div ng-repeat="item in requirementsSelected track by $index">
                                <div ng-switch="item.representation">
                                    <div ng-switch-when="input">
                                        <req-input itemname="{{ item.name }}" definition="{{ item.description }}"></req-input>
                                    </div>
                                    <div ng-switch-when="radio">
                                        <req-radio itemname="{{ item.name }}" definition="{{ item.description }}"></req-radio>
                                    </div>
                                    <div ng-switch-when="select">
                                        <req-select itemname="{{ item.name }}" definition="{{ item.description }}" ></req-select>
                                    </div>
                                    <div ng-switch-when="slider">
                                        <req-slider itemname="{{ item.name }}" definition="{{ item.description }}"></req-slider>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                        </div>
                    </div>
                    <!--services slide-->
                    <div class="item services-slide">
                        <!-- TODO: -->
                    </div>
                    <!--slides end-->
                </div>
            </div>
        </div>
        <!--slider end-->
    </div>
    <!--end main container-->
    <div class="row sticky-bottom">
        <div class="col-lg-12 text-right">
            <button class="btn btn-primary slide-prev" href="#dssSlides" data-slide="prev" disabled>Previous step</button>
            <button class="btn btn-primary slide-next" href="#dssSlides" data-slide="next">Next step</button>
            <button style="display: none" class="btn btn-primary slide-services" data-target="#dssSlides" data-slide-to="5">Search Cloud Services</button>
        </div>
    </div>
</div>

<script src="components/jquery/dist/jquery.min.js"></script>
<script src="components/angular/angular.js"></script>
<script src="components/ngstorage/ngStorage.min.js"></script>
<script src="components/bootstrap/dist/js/bootstrap.js"></script>
<script src="components/nouislider/jquery.nouislider.js"></script>
<!-- DSS-related scripts -->
<script src="dss/app.min.js"></script>
</body>
</html>
